<%= form_with(model: event, local: true) do |form| %>
  <div class="input-group">
    <p class="input-group__label"><%= form.label :title %>:</p>
    <p class="input-group__field"><%= form.text_field :title, id: 'event_title', class: 'input', required: true %></p>
    <% if event.errors.full_messages_for(:title).any? %>
      <ul class="input-group-errors">
        <% event.errors.full_messages_for(:title).each do |message| %>
          <li class="input-group-error"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="input-group">
    <p class="input-group__label"><%= form.label :body %>:</p>
    <p class="input-group__field"><%= form.text_area :body, id: 'event_body', class: 'input', required: true, rows: 12 %></p>
    <% if event.errors.full_messages_for(:body).any? %>
      <ul class="input-group-errors">
        <% event.errors.full_messages_for(:body).each do |message| %>
          <li class="input-group-error"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if event.new_record? %>
    <div class="input-group">
      <%= recaptcha_tags %>
      <% if event.errors.messages[:recaptcha].any? %>
        <ul class="input-group-errors">
          <% event.errors.messages[:recaptcha].each do |message| %>
            <li class="input-group-error"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <p><%= form.submit class: 'button button--fill' %></p>
<% end %>
