<%= form_with(model: event, local: true) do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_field :title, id: :event_title, class: 'input', placeholder: Event.human_attribute_name(:title), required: true, aria: { label: Event.human_attribute_name(:title) } %>
    </div>
    <% if event.errors.full_messages_for(:title).any? %>
      <p class="help is-danger">
        <% event.errors.full_messages_for(:title).each do |message| %>
          <%= message %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="field">
    <%= form.text_area :body, id: :event_body, class: 'textarea', placeholder: Event.human_attribute_name(:body), required: true, aria: { label: Event.human_attribute_name(:body) }%>
    <% if event.errors.full_messages_for(:body).any? %>
      <p class="help is-danger">
        <% event.errors.full_messages_for(:body).each do |message| %>
          <%= message %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="field">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
