<%= form_with(model: event, local: true) do |form| %>
  <p>
    <%= form.text_field :title, id: :event_title, placeholder: Event.human_attribute_name(:title), required: true, aria: { label: Event.human_attribute_name(:title) } %>
    <% if event.errors.full_messages_for(:title).any? %>
      <ul>
        <% event.errors.full_messages_for(:title).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </p>

  <p>
    <%= form.text_area :body, id: :event_body, placeholder: Event.human_attribute_name(:body), required: true, aria: { label: Event.human_attribute_name(:body) }%>
    <% if event.errors.full_messages_for(:body).any? %>
      <ul>
        <% event.errors.full_messages_for(:body).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </p>

  <p><%= form.submit %></p>
<% end %>
