<% page_title event.title %>

<%= render 'partials/global_nav', fill: true %>
<%= render 'partials/notice' %>
<div class="container">
  <div class="main-sidebar">
    <div class="main-sidebar__main">
      <main>
        <section class="section">
          <header class="page-header">
            <div class="page-header__heading">
              <h1 class="page-header__title"><%= event.title %></h1>
              <p class="page-header__action"><%= link_to t('.edit'), edit_event_path(event) %></p>
            </div>
            <p class="page-header__supplement">
              <small><%= Event.human_attribute_name(:updated_at) %>: <%= l(event.updated_at) %></small>
            </p>
          </header>
          <%= simple_format event.body %>
        </section>
      </main>
    </div>
    <div class="main-sidebar__sidebar">
      <div class="large-screen-only">
        <section class="section">
          <h2><%= t('.participate') %></h2>
          <%= render 'participant_form' %>
        </section>
      </div>
      <% if event.participants.present? %>
        <aside class="participant-list section">
          <h2 class="participant-list__heading"><%= Participant.model_name.human %></h2>
          <ul class="participant-list__participants">
            <% event.participants.each do |participant| %>
              <li class="participant-list__participant">
                <%= participant.name %>
                <%= link_to(t('.cancel_participation'), [event, participant], method: :delete, aria: { role: :button }) %>
              </li>
            <% end %>
          </ul>
        </aside>
      <% end %>
    </div>
  </div>
</div>
<div class="large-screen-only">
  <%= render 'partials/global_footer' %>
</div>
<div class="small-screen-only">
  <div class="bottom-bar-spacer"></div>
  <div class="bottom-bar">
    <div class="container">
      <div class="bottom-bar__contents">
        <%= render 'participant_form' %>
      </div>
    </div>
  </div>
</div>
